.board {
  width: max-content;
  padding: 0.3rem;
  background-color: rgba(248, 201, 46, 0.653);
  border: #ffffff 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.easy {
  color: red;
}

.medium {
  color: yellow;
}

.hard {
  color: green;
}